/*
      <img class="teamicon" src="{% static 'images/team_icon_116_140.png' %}" alt="" class="responsive-img"> <!-- notice the "circle" class -->
      <img class="playericon" src="{% static 'images/player_icon_116_140' %}" alt="" class="responsive-img"> <!-- notice the "circle" class -->
*/

.parent {
  border: 5px solid lightcoral;
  margin: 0 auto;
  width: 60%;
  min-width: 366px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  height: 100px;
  margin: 5px;
  background: grey;
  color: white;
  font-weight: 600;
  width: 50%;
  min-width: 350px;
  display: flex;
  border: 2px solid lightcoral;

}

.item .media {
 min-width: 0;
 margin: 5px;
 }

.item img {
  max-height: 100%;
  width: auto;
  }

.info{
  display: flex;
  flex-direction: column;
}

.info span{
  display: block;
  line-height: 25px;
}
