{% extends "_base.html" %}
{% load static from staticfiles %}

{% block localstatic %}
<link rel="stylesheet" href="{% static '/league/css/player_list.css' %}">
{% endblock %}

{% block title %}
Player List
{% endblock %}

{% block content %}
<div class="biggerwrap">
	<div class="card listwrap blue-grey lighten-5">
		<table class="bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Sex</th>
					<th>Category</th>
					<th>Group</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				{% for player in players %}
				<tr {% if player.group == "2" %} style="background: grey;" {% endif %}>
					<td>{{player.player.name}}</td>
					<td>{{player.player.sex}}</td>
					<td>{{player.player.official_category}}</td>
					<td>{{player.group}}</td>
					<td>{{player.price}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endblock %}




<span class="name">Name: {{player.name}}</span>
<span class="Category">Catagory: {{player.official_category}}</span>
<span class="Group">Group: {{player.group}}</span>          </span>
