{% extends "_base.html" %}
{% load static from staticfiles %}

{% block localstatic %}
<link rel="stylesheet" href="{% static '/league/css/player_list.css' %}">
{% endblock %}

{% block content %}
<div class="biggerwrap">
	<div class="card listwrap">
		<table class="bordered striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Sex</th>
					<th>Catagory</th>
				</tr>
			</thead>
			<tbody>
				{% for player in players %}
				<tr>
					<td>{{player.name}}</td>
					<td>{{player.sex}}</td>
					<td>{{player.official_category}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endblock %}




<span class="name">Name: {{player.name}}</span>
<span class="Category">Catagory: {{player.official_category}}</span>
<span class="Group">Group: {{player.group}}</span>          </span>
