{% extends "_base.html" %}
{% load static from staticfiles %}

{% block localstatic %}
<link rel="stylesheet" href="{% static '/css/rules.css' %}">

{% endblock %}

{% block title %}
Rules
{% endblock %}



{% block content %}
<div class="containo">

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title bb"><h3>Rules</h2></span>

          <p>In order to participate in Origames you have to create a team of 8 people consisting of METU Orienteering athletes.
            The team consisting of mixed athletes collects the most points at the end of 3 days will be the winner of this game.
             Every manager has 90 Oricredits and of you have to pay some credits to include each athlete to  team.</p>
          <br>
          <h5>Team Selection Criteria</h4>
          <p>
            Teams are given 90 Oricredits to select their athletes. Oricredits are the Origames currency. Each athlete is given a value in oricredits, based on their prospective points-scoring abilities. The oricredits values are based on past results and recent form, with an emphasis towards those athletes who have been successful in past editions of the event.
            You can select 2 elite, 2 veterans, 2 young athletes and 2 latecomers. The latecomers will not compete on the first day.
          </p>
          <h5>Scoring</h4>
          <p>
            Points will be obtained through the time points based on Turkish Orienteering Federation formulation. The scores obtained from Federation will be multiplied by the following coefficients based on difficulty level of the categories.
<br>
<br>
            Elite (Group 1) -> 1
<br>
            Veterans (Group 2) -> 0.85
<br>
            Young Athletes (Group 3) -> 0.75
<br>
            Latecomers (Group 4) -> 1.25
          </p>
<br>
            <!-- <p>
            Deadline for participation in the play and team determination March 9th 19.59! Once you have selected a team of 9 athletes and they have started the Urla Race, you may not replace them during the race.
          </p>

            <p>Entry into the Fantasy Urla Game is 3TL for each player. First 3 manager will be rewarded at the end of the game.</p> -->
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}
