{% extends "_base.html" %}
{% load static from staticfiles %}

{% block localstatic %}
<link rel="stylesheet" href="{% static '/css/rules.css' %}">

{% endblock %}

{% block title %}
Rules
{% endblock %}



{% block content %}
<div class="containo">

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <p>Merhaba sevgili oryantiring severler! ORIGAMES Maraş yarışıyla karşınızdayız! 
	     Oyunumuza katılmanız için seçme ekranında bulunan sporculardan oluşan 9 kişilik bir karma takım oluşturmanız gerekiyor. 
	     Karma sporculardan oluşan hangi takım 2 gün sonunda en çok puan toplar ise takım sahibi bu oyunun kazananı olucak. 
	     Herkesin 100 kredisi var ve tabi ki her sporcuyu takımınıza dahil etmeniz için belli bir ücret ödemeniz gerekiyor. 
	  </p>
          <br>
          <h5>Kurallar</h5>
          <ol>
            <li>Takımınıza 9 sporcu alabilirsiniz.</li>
            <li>Puanlama, Türkiye Oryantiring Federasyonu'nun süre esaslı puanlamasından elde edilecektir.</li>
            <li>Oyuna katılmak için son tarih: 15 Şubat 2020 06.59</li>
          </ol>
          <p>
            Sporcu kredileri daha önceki yarış sonuçları ve güncel antreman durumları baz alınarak düzenlenmiştir.Her kategorinin puan getirme zorluğu da kredileri belirlerken göz önünde alınmıştır.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
