{% extends "_base.html" %}
{% load static from staticfiles %}

{% block localstatic %}
<link rel="stylesheet" href="{% static '/css/rules.css' %}">

{% endblock %}

{% block title %}
Rules
{% endblock %}



{% block content %}
<div class="containo">

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title bb"><h3>Rules</h2></span>

          <p>In order to participate in Origames you have to create a team of 9 people consisting METU Orienteering Team athletes.
            The fantasy team which collects the most points at the end of 2 days will be the winner of this game.
            Every manager has 100 Oricredits and each athlete have some Oricredit value to be paid.</p>
          <br>
          <h5>Team Selection Criteria</h4>
          <p>
            Oricredits are the Origames currency. Every player is given 100 Oricredits to select their athletes.
            Each athlete has given a value in oricredits, based on their prospective points-scoring abilities.
             The oricredits values are based on past results and recent form, with an emphasis towards those athletes
              who have been successful in past editions of the event. Every player can select 5 elites, 3 veterans and has 1 joker selection.
              With the 1 joker option  fantasy game player can select elite or veteran athlete.
          </p>
          <h5>Scoring</h4>
          <p>
                Scores will be obtained through the time points based on Turkish Orienteering Federation(TOF) formulation.
            The scores obtained from TOF will be multiplied by the following coefficients based on difficulty level of the categories.

<br>

<br>
            Elites (Group 1): M21E, W21E, W55, M20A, W20A -> 1 1
<br>
            Veterans (Group 2): M21A, W21A -> 0.85

          </p>
<br>
<h5>Prizes</h4>
<p>
  Entry fee is 3 TL for Origames Niksar Tour.
  Managers of the winner, runner-up and third teams will qualify for special prizes.
</p>
            <!-- <p>
            Deadline for participation in the play and team determination March 9th 19.59! Once you have selected a team of 9 athletes and they have started the Urla Race, you may not replace them during the race.
          </p>

            <p>Entry into the Fantasy Urla Game is 3TL for each player. First 3 manager will be rewarded at the end of the game.</p> -->
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}
