{% extends "_base.html" %}
{% load static from staticfiles %}

{% block localstatic %}
<link rel="stylesheet" href="{% static '/css/fluidity.css' %}">
<link rel="stylesheet" href="{% static '/css/wall.css' %}">
{% endblock %}

{% block title %}
Team
{% endblock %}

{% block content %}
<script type="text/javascript">
function dragstart_handler(ev) {
  // Add the drag data
  as = ev.target;
  ev.dataTransfer.setData("text/plain", ev.target.id);
}

</script>
<div class="pagewrap">

  <div class="row">
    <div class="col s12">
      <h4 class="white-text">{{ race.name }}</h4>
      {% if not race.is_active %}
        <h4 class="blue-text">THE RACE HAS ENDED. YOU CAN SEE THE RESULTS</h4>
      {% else %}
        {% if team.count < 9 %}
          <h4 class="blue-text">You must have 9 players in your team to be able to participate in Inter-University Origames</h4>
        {% endif %}
      {% endif %}
    </div>
  </div>

<div class="card roster">
  <h3 class="title">My Team</h3>
  <div class="budget">
    <div>Budget</div>
    <div>
      {{budget}}
    </div>
  </div>
  <div class="rosterwrap">
  {% for player in team %}
  <div class="box" id="p1" draggable="true" {% if player.group == "1" %}style="border: 1px solid lightcoral"{% endif %} {% if player.group == "2" %}style="border: 1px solid skyblue"{% endif %} {% if player.group == "3" %}style="border: 1px solid #BDB76B"{% endif %} ondragstart="dragstart_handler(event);">
    {% if race.is_active %}
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="name" value="{{player.player.name}}">
      <input class="remove" type="Submit" name="remove" value=""/>
    </form>
    {% endif %}
    <div class="left f">
    <div class="name">

      {{player.player.name}}
    </div>
    <div class="cats">
      {{player.player.official_category}} Group: {{player.group}}
    </div>
    </div>
    <div class="price">
      <div>
        {{player.price}}
      </div>
      <div class="price-price">
        Price
      </div>
    </div>
    <div class="right"></div>
  </div>
  {% endfor %}
</div>

</div>

<div class="seperator"></div>
<div class="card players">
  <h3 class="title">Players</h3>

  <div class="rosterwrap">
  {% for player in players %}
  <div class="box" id="p1" draggable="true" {% if player.group == "1" %}style="border: 1px solid lightcoral"{% endif %} {% if player.group == "2" %}style="border: 1px solid skyblue"{% endif %} {% if player.group == "3" %}style="border: 1px solid #BDB76B"{% endif %} ondragstart="dragstart_handler(event);">
  {% if race.is_active %}
    <button class="add"></button>
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="name" value="{{player.player.name}}">
      <input class="add" type="Submit" name="add" value=""/>
    </form>
    {% endif %}
    <div class="left f">
    <div class="name">
      {{player.player.name}}
    </div>
    <div class="cats">
      {{player.player.official_category}} Group: {{player.group}}
    </div>
    </div>
    <div class="price">
      <div>
        {{player.price}}
      </div>
      <div class="price-price">
        Credit
      </div>
    </div>
    <div class="right"></div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
