.biggerwrap{
 padding: 10px;
}

.listwrap{
  border: solid 1px lightcoral;
  margin: 45px auto;
  max-width: 700px;
}

table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
